{% extends 'base.html' %}

{% block title %}prayers{% endblock %}

{% block content %}

  <div class="container mt-5">
    <h3>Rules for Prize</h3>
    <div class="mt-3">
      <ul class="list-group list-group-flush list-group-numbered">
        <li class="list-group-item list-group-item-success">
          Sprint must be at least 90% complete.
        </li>
        <li class="list-group-item">
          MUST pray at least twice a day.
        </li>
        <li class="list-group-item list-group-item-success">
          Meditate at least 10 minutes (preferrably 5 minutes morning, and evening)
        </li>
        <li class="list-group-item">
          All Priority High tasks must be done. At least 90% of medium priority done, and at least 70% of low priority ones must be done.
        </li>
        <li class="list-group-item list-group-item-success">
          This App must be updated EVERY day.
        </li>
      </ul>
    </div>
    <div class="mt-5">
      <strong>Prize Money:</strong> If ALL rules are followed at theend of sprint, reward money = £50.
    </div>
  </div> 

{% endblock %}