{% extends 'base.html' %}

{% block title %}Sprints{% endblock %}

{% block content %}

  <div class="container mt-5">
    {% if sprints %}
    <table class="table">
      <th>Name</th>
      <th>Due Date</th>
      <th>Status</th>
      <th>Comments</th>    
      <th>Prize Earned</th>   
      {% for sprint in sprints|dictsortreversed:'due_date' %}
      <tr>
        <td><a href="{% url 'sprint_edit' sprint.id %}">{{sprint.name}}</a></td>
        <td>{{sprint.due_date}}</td>
        <td>{{sprint.status}}</td>
        <td>{{sprint.comments}}</td>
        <td>{{sprint.prize_earned}}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    <a href="{% url 'sprint_add' %}"><button>Add sprint</button></a> 
  </div> 

{% endblock %}
