{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <title>Tasks App</title>
</head>
<body>

<header>
  <a href="{% url 'index' %}">
    <img src="{% static 'images/logo.png' %}" class="logo" alt="Logo" width="50px" height="50px">
  </a>
  <nav>
    <ul class="nav_links">
      <li><a href="{% url 'tasks' %}">Tasks</a></li>
      <li><a href="{% url 'meditations' %}">Meditation</a></li>
      <li><a href="{% url 'prayers' %}">Prayers</a></li>
      <li><a href="#">Sprints</a></li>
    </ul>
  </nav>
  {% if user.is_authenticated %}
    <p style="color:white;">You are logged in as {{ user.username }}</p>
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button class="logout_button" type="submit">Logout</button>
    </form>    
  {% else %}
    <a href="{% url 'login' %}" class="cta"><button>Login</button></a> 
  {% endif %}
</header>

  {% block content %} {% endblock %}
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>